language: go

go:
  - '1.12'
  - tip

git:
  depth: 1

script:
  - diff -u <(echo -n) <(gofmt -d .)
  - go vet ./...
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - test $TRAVIS_GO_VERSION != "tip" && bash <(curl -s https://codecov.io/bash)